<h1>Super-Secret Message</h1>

<form>
  <div class="form-group">
    <label for="exampleMessage">Message</label>
    <input type="message" class="form-control" id="exampleMessage" aria-describedby="messageHelp" placeholder="Type your super-secret message here.">
    <small id="emailHelp" class="form-text text-muted">This is a secure messaging service. Your messages are encrypted, securely transferred, and automatically deleted once retrieved.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword" placeholder="Enter a password">
    <small id="emailHelp" class="form-text text-muted">You must use of this password to retrieve this message.</small>
  </div>
  <button type="submit" class="btn btn-primary">Create</button>
</form>
